.nav li a.disabled {
  background-color: #dddddd !important;
  color: #474747 !important;
  cursor: not-allowed !important;
  border-color: #dddddd !important;
}

.sidebar-toggle {
  visibility: hidden;
}

.irs-grid-pol:nth-of-type(n) {
  background: white;
}

.irs-grid-text:nth-child(n) {
  color: white;
}

/*
box status
*/
.box {
  box-shadow: 0 0px 0px rgb(0 0 0 / 10%);
}

/*change primary status properties*/
.box.box-solid.box-primary {
  border-bottom-color: #265071;
  border-left-color: #265071;
  border-right-color: #265071;
  border-top-color: #265071;
}

/*change properties of primary status header*/
.box.box-solid.box-primary > .box-header {
  color: #fff;
  background: #265071;
}

/* change box header properties */
.box-header.with-border {
  border-bottom: 0px solid #f4f4f4;
}

.btn-primary {
  background: #265071;
}

/*
    navigation bar modification
*/

/*change logo background color*/
.skin-blue .main-header .logo {
  background-color: #265071;
}

/*change header background color*/
.skin-blue .main-header .navbar {
  background-color: #265071;
}

/*change header font properties*/
.myClass {
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  font-family: Arial;
  padding: 0 6%;
  overflow: hidden;
  color: white;
}

@media screen and (max-width: 1090px) {
  .myClass {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: Arial;
    padding: 0 8%;
    overflow: hidden;
    color: white;
  }
}

@media screen and (max-width: 975px) {
  .myClass {
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    font-family: Arial;
    padding: 0 8%;
    overflow: hidden;
    color: white;
  }
}

@media screen and (max-width: 910px) {
  .myClass {
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    font-family: Arial;
    padding: 0 8%;
    overflow: hidden;
    color: white;
  }
}

/*
    modification on elements in all pages
          */

/*anchor tag right-aligned*/
.a {
  text-align: right;
}

.wrapper {
  height: auto !important;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.box box-solid {
}

/*set table width to 50%*/
.tablewidth {
  width: 50%;
}

/*set container properties*/
#container {
  background-color: #ecf0f5;
}

/*set font family to Arial*/
* {
  font-family: "Arial";
}
